body{
    background-color:  #f4f7f4;;
}

nav{
    background: white;
}

h1 {
    font-family: "Black Ops One", sans-serif;
    color: rgb(3, 170, 25);
}

h2 {
    font-family: "Oswald", sans-serif;
    color: rgb(3, 170, 25);
}

